* {
  margin: 0;
}

.header {

  background-image: url(/images/background-image-1.png);
  background-size: cover;
}

.nav-section {
  background-color: #5474FD;
}
.button {
  background-color: #5474FD;
}