* {
  margin: 0;
}

.choose-section {
  background-image: url(/images/background-image-2.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1770px;
  height: 100%;
  min-height: 685px;
}

.choose-text {
  display: flex;
  flex-direction: column;

  &__header {
    font-family: 'Aleo', serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 50px;
  }

  &__text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    width: 100%;
    max-width: 560px;
    height: 100%;
    min-height: 158px;
    margin-bottom: 45px;
  }
}

.choose-image {
  display: flex;
  flex-direction: column;

  &__houseimg {
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 220px;
    margin-left: 110px;
    margin-bottom: 10px;
  }
  &__mountainimg {
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 220px;
    margin-left: 200px;
  }
}

.button--second-btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  width: 100%;
  max-width: 228px;
}


.line-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-one {
  width: 300px; 
  height: 100px;  
  border: solid 1px white;
  border-color: white transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

.line-two {
  width: 300px; 
  height: 100px;  
  border: solid 1px white;
  border-color: white transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

.icon-section {
  background-color: #333333;
  width: 100%;
  max-width: 1773px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__icon-div {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
  }
}

.magnify-div {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  align-items: center;
}

.check-div {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  align-items: center;
}

.thumb-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 62px;
  height: 62px;
  margin-bottom: 38px;
}

.icon:hover {
  opacity: 0.4;
}

.first-booking {
  background-image: url(/images/background-image-3.png);
  background-size: cover;
  width: 100%;
  max-width: 1770px;
  min-height: 700px;
  display: flex;

  &__container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}

.box {
  background-color: #232323;
  opacity: 0.9;
  width: 100%;
  max-width: 543px;
  min-height: 374px;
  display: flex;
  flex-direction: column;
  
  &__country {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-top: 49px;
    margin-bottom: 23px;
    margin-left: 32px;
  }
  &__heading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-bottom: 13px;
    margin-left: 32px;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-bottom: 46px;
    margin-left: 32px;
  }
}

.button--third-btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  width: 100%;
  max-width: 228px;
  margin-left: 32px;
}

.second-booking {
  background-image: url(/images/background-image-4.png);
  background-size: cover;
  width: 100%;
  max-width: 1770px;
  min-height: 700px;
  display: flex;
  justify-content: flex-end;

  &__container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.button--fourth-btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  width: 100%;
  max-width: 228px;
  margin-left: 32px;
}

.tourist-section {
  background-image: url(/images/background-image-5.png);
  background-size: cover;
  width: 100%;
  max-width: 1770px;
  height: 731px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text{
    font-family: 'Aleo', serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 93px;
  }
  &__div {
    display: flex;
    flex-direction: row;
  }
  &__img {
    width: 100%;
    max-width: 445px;
    min-height: 284px;
  }
}

.fa-quote-left {
  color: #5474FD;
  font-size: 36px;
  line-height: 26px;
}

.tourist-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 668px;
  min-height: 287px;
  justify-content: center;


  &__name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    margin-left: 62px;
    margin-bottom: 8px;
  }
  &__text {
    font-family: 'Aleo', serif;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: 62px;
  }
}
